In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
import wordcloud
import textblob

In [2]:
data= pd.read_csv("Elon_musk.csv",encoding = "ISO-8859-1", index_col=0)

In [3]:
data.head(10)

                                                 Text
1                              @kunalb11 Im an alien
2   @ID_AA_Carmack Ray tracing on Cyberpunk with H...
3                 @joerogan @Spotify Great interview!
4                     @gtera27 Doge is underestimated
5   @teslacn Congratulations Tesla China for amazi...
6   Happy New Year of the Ox! https://t.co/9WFKMYu2oj
7   Frodo was the underdoge,\nAll thought he would...
8      @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)
9   @flcnhvy @anonyx10 Indeed! Tweets definitely d...
10   The most entertaining outcome is the most likely

In [4]:
data['word_count'] = data['Text'].apply(lambda x: len(str(x).split(" ")))

In [5]:
data[['Text','word_count']].head()

                                                Text  word_count
1                             @kunalb11 Im an alien           4
2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...          13
3                @joerogan @Spotify Great interview!           4
4                    @gtera27 Doge is underestimated           4
5  @teslacn Congratulations Tesla China for amazi...          17

In [6]:
data['char_count'] = data['Text'].str.len() 
data[['Text','char_count']].head(10)

                                                 Text  char_count
1                              @kunalb11 Im an alien          22
2   @ID_AA_Carmack Ray tracing on Cyberpunk with H...          82
3                 @joerogan @Spotify Great interview!          35
4                     @gtera27 Doge is underestimated          31
5   @teslacn Congratulations Tesla China for amazi...         104
6   Happy New Year of the Ox! https://t.co/9WFKMYu2oj          49
7   Frodo was the underdoge,\nAll thought he would...          96
8      @OwenSparks_ @flcnhvy @anonyx10 Haha thanks :)          46
9   @flcnhvy @anonyx10 Indeed! Tweets definitely d...          89
10   The most entertaining outcome is the most likely          48

In [10]:
data.head(20)

                                                 Text  word_count  char_count
1                              @kunalb11 im an alien           4          22
2   @id_aa_carmack ray tracing on cyberpunk with h...          13          82
3                 @joerogan @spotify great interview!           4          35
4                     @gtera27 doge is underestimated           4          31
5   @teslacn congratulations tesla china for amazi...          17         104
6   happy new year of the ox! https://t.co/9wfkmyu2oj           7          49
7   frodo was the underdoge, all thought he would ...          12          96
8      @owensparks_ @flcnhvy @anonyx10 haha thanks :)           6          46
9   @flcnhvy @anonyx10 indeed! tweets definitely d...          11          89
10   the most entertaining outcome is the most likely           8          48
11                       @givedirectly just sent some           4          28
12         just agree to do clubhouse with @kanyewest           7          42
13                            https://t.co/3rwe9uhsts           1          23
14     @geoffkeighley @unrealengine its getting real           5          46
15  bought some dogecoin for lil x, so he can be a...          13          61
16  @joshmanmode he definitely has issues, but the...          12          74
17                   @freewalletorg thanks for fixing           4          32
18            @freewalletorg please unlock my account           5          39
19               @astrojordy <u+0001f923><u+0001f923>           2          36
20    this is true power haha https://t.co/fc9uhqsd7o           6          47

In [15]:
data=data.drop(['char_count','word_count'],axis=1)

In [16]:
data.head()

                                                Text
1                             @kunalb11 im an alien
2  @id_aa_carmack ray tracing on cyberpunk with h...
3                @joerogan @spotify great interview!
4                    @gtera27 doge is underestimated
5  @teslacn congratulations tesla china for amazi...

In [17]:
data['Text'] = data['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [18]:
data.head(10)

                                                 Text
1                              @kunalb11 im an alien
2   @id_aa_carmack ray tracing on cyberpunk with h...
3                 @joerogan @spotify great interview!
4                     @gtera27 doge is underestimated
5   @teslacn congratulations tesla china for amazi...
6   happy new year of the ox! https://t.co/9wfkmyu2oj
7   frodo was the underdoge, all thought he would ...
8      @owensparks_ @flcnhvy @anonyx10 haha thanks :)
9   @flcnhvy @anonyx10 indeed! tweets definitely d...
10   the most entertaining outcome is the most likely

In [19]:
data['Text'] = data['Text'].str.replace('[^\w\s]','')

In [20]:
data.head(10)

                                                 Text
1                                kunalb11 im an alien
2   id_aa_carmack ray tracing on cyberpunk with hd...
3                    joerogan spotify great interview
4                      gtera27 doge is underestimated
5   teslacn congratulations tesla china for amazin...
6         happy new year of the ox httpstco9wfkmyu2oj
7   frodo was the underdoge all thought he would f...
8           owensparks_ flcnhvy anonyx10 haha thanks
9   flcnhvy anonyx10 indeed tweets definitely do n...
10   the most entertaining outcome is the most likely

In [21]:
stop= pd.read_csv('stop.txt')

In [22]:
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [23]:
data.head(10)

                                                 Text
1                                kunalb11 im an alien
2   id_aa_carmack ray tracing on cyberpunk with hd...
3                    joerogan spotify great interview
4                      gtera27 doge is underestimated
5   teslacn congratulations tesla china for amazin...
6         happy new year of the ox httpstco9wfkmyu2oj
7   frodo was the underdoge all thought he would f...
8            owensparks_ flcnhvy anonyx10 haha thanks
9   flcnhvy anonyx10 indeed tweets definitely do n...
10   the most entertaining outcome is the most likely

In [24]:
freq = pd.Series(' '.join(data['Text']).split()).value_counts()[:10]

In [25]:
freq

the       487
to        400
is        355
of        315
spacex    239
in        219
amp       218
for       194
tesla     166
will      165
dtype: int64

In [26]:
freq = list(freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

In [27]:
data.head(10)

                                                 Text
1                                kunalb11 im an alien
2   id_aa_carmack ray tracing on cyberpunk with hd...
3                    joerogan spotify great interview
4                         gtera27 doge underestimated
5   teslacn congratulations china amazing executio...
6                happy new year ox httpstco9wfkmyu2oj
7   frodo was underdoge all thought he would fail ...
8            owensparks_ flcnhvy anonyx10 haha thanks
9   flcnhvy anonyx10 indeed tweets definitely do n...
10              most entertaining outcome most likely

In [38]:
low_freq = pd.Series(' '.join(data['Text']).split()).value_counts()[-100:]

In [39]:
low_freq

skynet                1
moderna               1
learning              1
specialized           1
button                1
                     ..
failure               1
httpstcoej7iovx2w4    1
drsallyl              1
le                    1
bonded                1
Length: 100, dtype: int64

In [40]:
freq = list(low_freq.index)
data['Text'] = data['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

In [41]:
data.head(10)

                                                 Text
1                                kunalb11 im an alien
2   id_aa_carmack ray tracing on cyberpunk with hd...
3                    joerogan spotify great interview
4                         gtera27 doge underestimated
5   teslacn congratulations china amazing executio...
6                happy new year ox httpstco9wfkmyu2oj
7   frodo was underdoge all thought he would fail ...
8            owensparks_ flcnhvy anonyx10 haha thanks
9   flcnhvy anonyx10 indeed tweets definitely do n...
10              most entertaining outcome most likely

In [53]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sagar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [49]:
from textblob import TextBlob

In [58]:
data['Text'][:5].apply(lambda x: str(TextBlob(x).correct()))

1                                 kunalb11 in an alien
2    id_aa_carmack ray tracing on cyberpunk with he...
3                     joerogan specify great interview
4                          gtera27 done underestimated
5    teslacn congratulations china amazing executio...
Name: Text, dtype: object

In [59]:
TextBlob(data['Text'][1]).words

WordList(['kunalb11', 'im', 'an', 'alien'])

In [60]:
st = PorterStemmer()

In [61]:
data['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1                                 kunalb11 im an alien
2    id_aa_carmack ray trace on cyberpunk with hdr ...
3                     joerogan spotifi great interview
4                              gtera27 doge underestim
5    teslacn congratul china amaz execut last year ...
Name: Text, dtype: object

In [70]:
data.head(10)

                                                 Text
1                                kunalb11 im an alien
2   id_aa_carmack ray tracing on cyberpunk with hd...
3                    joerogan spotify great interview
4                         gtera27 doge underestimated
5   teslacn congratulation china amazing execution...
6                happy new year ox httpstco9wfkmyu2oj
7   frodo wa underdoge all thought he would fail h...
8            owensparks_ flcnhvy anonyx10 haha thanks
9   flcnhvy anonyx10 indeed tweet definitely do no...
10              most entertaining outcome most likely

In [64]:
from textblob import Word

In [67]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Sagar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [68]:
data['Text'] = data['Text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [69]:
data.head(10)

                                                 Text
1                                kunalb11 im an alien
2   id_aa_carmack ray tracing on cyberpunk with hd...
3                    joerogan spotify great interview
4                         gtera27 doge underestimated
5   teslacn congratulation china amazing execution...
6                happy new year ox httpstco9wfkmyu2oj
7   frodo wa underdoge all thought he would fail h...
8            owensparks_ flcnhvy anonyx10 haha thanks
9   flcnhvy anonyx10 indeed tweet definitely do no...
10              most entertaining outcome most likely

In [78]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [81]:
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
data_vect = tfidf.fit_transform(data['Text'])

In [82]:
data_vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 8293 stored elements in Compressed Sparse Row format>

In [83]:
data['Text'][:5].apply(lambda x: TextBlob(x).sentiment)

1                  (-0.25, 0.75)
2                     (0.0, 0.0)
3                    (0.8, 0.75)
4                     (0.0, 0.0)
5    (0.275, 0.3666666666666667)
Name: Text, dtype: object

In [84]:
data['sentiment'] = data['Text'].apply(lambda x: TextBlob(x).sentiment[0] )

In [92]:
data[['Text','sentiment']].head(15)

                                                 Text  sentiment
1                                kunalb11 im an alien  -0.250000
2   id_aa_carmack ray tracing on cyberpunk with hd...   0.000000
3                    joerogan spotify great interview   0.800000
4                         gtera27 doge underestimated   0.000000
5   teslacn congratulation china amazing execution...   0.275000
6                happy new year ox httpstco9wfkmyu2oj   0.468182
7   frodo wa underdoge all thought he would fail h...   0.000000
8            owensparks_ flcnhvy anonyx10 haha thanks   0.200000
9   flcnhvy anonyx10 indeed tweet definitely do no...   0.000000
10              most entertaining outcome most likely   0.375000
11                        givedirectly just sent some   0.000000
12             just agree do clubhouse with kanyewest   0.000000
13                                 httpstco3rwe9uhsts   0.000000
14         geoffkeighley unrealengine it getting real   0.200000
15  bought some dogecoin lil x so he can be toddle...   0.000000